/* COLOUR & FONT VARIABLES */
:root{
    --black: #000000;
    --dark-grey: #393939;
    --box-shadow: #00000040;
    --footer-color: #101828;
    --white: #FFFFFF;
    --grey-filter: #DBDBDB;
    --grey-btn: #CBCBCB;
    --grey-box: #D9D9D9;
    --grey-border: #686868;
    --overlay: #00000099;
    --lightgrey: #F9FAFB;
    --About-Selector:#ECECF0;

    --nav-grey: #f2f2f2;
    --nav-turquoise: #e7fdf6;

    --green: #009966;
    --darkgreen: #009688;
    --lightgreen: #88DC84;
    --turquoise: #D4FFF3;
    --purple: #9810FA;
    --linear-gradient: linear-gradient(90deg, rgba(0, 153, 102, 0.8) 0%, #009688 100%);

    --font-inter: "Inter", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
}

/* NORMALIZATION */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* BASE STYLING*/
body{
    font-family: var(--font-inter);

    position: relative;
}

/*WRAPPER*/
.wrapper{
    max-width: 1240px; /*Content is never wider than 1240px*/
    margin: 0 auto;
}

/*Button*/
/*small things we want all buttons to have*/
.button{
    border-radius: 10px;
    border-style: none;
    cursor:pointer;
}


/* ----------------- HEADER ------------------- */
.header--nav {
    display: flex; /*layout with flexbox for nav menu*/
    justify-content: space-between; /*spacing between elements*/
    position: relative;
    top: 0;
    background-color: var(--white);
    z-index: 1000;
    box-shadow: 0 4px 10px var(--box-shadow); /*shadowing behing menu*/
}

.nav-burger{
    display: none; /*defualt for nav-burger is to not show*/
    align-self: flex-start; /*aligning to start*/
    padding:2rem;
    position:fixed; /*burger menu is fixed on screen when scrolling*/
    top:1rem; /*positioning out menu on screen*/
    left:1rem;
    width:4rem; /*fixed width*/
    border: 1px solid var(--black);
    z-index: 2000; /*making sure burger menu sits above*/

    .burger__btn{
        display:flex; /*flexbox for lines*/
        justify-content: center; /*centering lines*/
        align-items: center;

        max-width:3rem;
        width:100%; /*taking all available space of container*/
        aspect-ratio: 1; /*making sure burger button is square*/
        
        z-index: 99; /*making sure lines is above*/
        cursor:pointer; /*cursor changes to a pointer when hovering over button*/

        position: relative;
    }

    .burger__btn > span,
    .burger__btn > span::before,
    .burger__btn > span::after{
        width:100%; /*takes upp 100% of parent width*/
        height:3px; /*thickness of lines*/
        background-color: var(--black);
        position: absolute; /*allows to place out lines*/
        transition: all .3s ease; /*transforming style of hamburger button with transition*/
    }
    .burger__btn > span::before{
        content: '';
        top: -10px; /*placing out before line*/
    }
    .burger__btn > span::after{
        content: '';
        top: 10px; /*placing out after line*/
    }

    .burger__btn.open > span{
        transform: rotate(45deg); /*when clicked lines move to form cross instead of hamburger menu*/
    }
    .burger__btn.open > span::before{
        top:0;
    }
    .burger__btn.open > span::after{
        top:0;
        transform: rotate(90deg);
    }
}
.burger__btn.open ~ .nav-links{
    display:flex;
}

.burger__btn.open ~ .header--nav{
    height:4rem;
}

/* -------------------- NAV ---------------------- */
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;
    
    /*Loga*/
    .nav-logo {
        max-width: 20.1rem;
        height: 4.8rem;
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 3rem;
    }
    
    li {
        list-style: none;
        padding: 0rem 1.2rem;
        
    }
    
    /*Styling på länkarna*/
    .link {
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--black);
        font-weight: 600;
    }
    /*Animation när man hovrar över knapparna i nav*/
    .link:hover{
        transition: background-color 0.3s ease, padding 0.3s ease, border-radius 0.3s ease; /*transition for scaling up text and box-shadow*/
        background-color: var(--nav-grey);
        padding: 0.5rem 0rem;
        border-radius: 10px;
    }
    
    /*Styling på den aktiva länken*/
    .link--active { /*active link/page shows as green to keep track*/
        color: var(--green);
    }
    /*Animation när man hovrar över knapparna i nav*/
    .link--active:hover{
        transition: background-color 0.3s ease, padding 0.3s ease, border-radius 0.3s ease; /*transition for scaling up text and box-shadow*/
        background-color: var(--nav-turquoise);
        padding: 0.5rem 0;
        border-radius: 10px;
    }

    /*Big nav button*/
    .button-nav {
        white-space: nowrap;
        padding: 0.8rem 1rem;
        background-color: var(--green);
        font-size: 1.2rem;
        color: var(--white);
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-weight: 600;
    }
    /*Animations for the big nav button*/
    .button-nav:hover{
        transition: box-shadow 0.3s ease; /*transition for scaling up text and box-shadow*/
        box-shadow: 0 8px 10px var(--box-shadow);
    } 
}

/* ----------------- READY TO TRANSFORM YOUR STAY ---------------------- */

.Ready-to-Transform-Your-Stay {
    background: var(--linear-gradient); /*linear background color. Used on home and about pages*/
    padding: 5rem;
    
    /* aligning text and button */
    .displayflex-column {
        display: flex;
        flex-direction: column;
        color: var(--white);
        
        /* giving the <h2> unique atributes */
        .rttys-text-h2 {
            text-align: center;
            align-self: center;
            padding-bottom: 1.5rem;
            font-weight: 400;
            font-size: 3rem;
        }

        /* giving the <p> unique atributes */
        .rttys-text-p {
            text-align: center;
            padding-bottom: 2rem;
            font-weight: 400;
            font-size: 2rem;
            max-width: 100%;
        }
    }

}
                /* --------------------- CONTAINER CONTACT US --------------- */
.contact-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 5rem;
    gap: 1rem;
    position: relative;

    /*----------------------- CONTACT US AS TITLE -------------------*/
    .contact-us-rubrik {
        font-weight: 400;
        font-family: var(--font-inter);
        font-size: 3rem;
        
        .skicka-meddelande-knappen {
            background-color: var(--green);
            padding: 2rem;
        }
    }

    /*-------------------------- TEXT UNDER CONTACTS TITLE ------------------------*/
    .text-under-contacts {
        font-weight: 400;
        /* text-align: center; */
        font-family: var(--font-inter);
        font-size: 2rem;
    }
}

/* ----------------- FOOTER ---------------------- */

.footer {
    display: flex;
    background: var(--footer-color);
    color: var(--white);
    padding: 5rem;
}

/* The grid footer */
.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;

    /*Link*/
    .footer-link{
        text-decoration: none;
        color: var(--white);
    }
    
    /* Logo and filler text */
    .top-left-footer-grid {
        display: inline-grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10rem 1fr;

        /* img and its position */
        .tlfg-img {
            display:flex;   
            grid-column: 1 / span 1;
            grid-row: 1;
        }
        
        /* filler text */
        .tlfg-text {
            display:flex; 
            padding-top: 2rem;
            grid-column: 1 / span 1;
            grid-row: 2;
            display: block;
        }
    }

    /* Contact box */
    .top-middle-footer-grid {
        padding-top: 3rem;
        display:flex;   
        flex-direction: column;
        grid-column: 2 / span 1;
        grid-row: 1;
        gap: 1.5rem;
    }

    /* Quick Links box */
    .top-right-footer-grid {
        padding-top: 3rem;
        display:flex;   
        flex-direction: column;
        grid-column: 3 / span 1;
        grid-row: 1;
        gap: 0.5rem;
        
        h2 {
            padding-bottom: 1rem;
        }
    }
    
    /* Copyright text box + border */
    .bottom-footer-grid {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
        padding-top: 2rem;
        font-size: 1.5rem;
        border-top: 0.125rem solid white;
    }
}
/* Animates the links in the footer when moused over */
.hover-link-footer:hover {
    transition: font-size 0.2s ease; /*transition for scaling up text and box-shadow*/
    font-size: larger;
    cursor:pointer;
}
