/* COLOUR & FONT VARIABLES */
:root{
    --black: #000000;
    --dark-grey: #393939;
    --box-shadow: #00000040;
    --footer-color: #101828;
    --white: #FFFFFF;
    --grey-filter: #DBDBDB;
    --grey-btn: #CBCBCB;
    --grey-box: #D9D9D9;
    --grey-border: #686868;
    --overlay: #00000099;
    --lightgrey: #F9FAFB;
    --green: #009966;
    --darkgreen: #009688;
    --lightgreen: #88DC84;
    --turquoise: #D4FFF3;
    --purple: #9810FA;
    --linear-gradient: linear-gradient(90deg, rgba(0, 153, 102, 0.8) 0%, #009688 100%);

    --font-inter: "Inter", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
}

/* NORMALIZATION */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* BASE STYLING*/
body{
    font-family: var(--font-inter);
}

.wrapper{
    max-width: 1240px; /*Content is never wider than 1240px*/
    margin: 0 auto;
}

.button{
    border-radius: 10px;
    border-style: none;
    cursor:pointer;
}


/* ----------------- HEADER ------------------- */
header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 1000;
}

/* Navigation menu, the links & logo  */
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;
    
    .logo {
        max-width: 20.1rem;
        height: 4.8rem;
    }
    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 3rem;
    }
    
    li {
        list-style: none;
        padding: 0rem 1.2rem;
    }
    
    a {
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--black);
        font-weight: 600;
    }

    .link--active {
        color: var(--green);
    }

    .button-nav {
        white-space: nowrap;
        padding: 0.8rem 0.7rem;
        background-color: var(--green);
        font-size: 1.2rem;
        color: var(--white);
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-weight: 600;
    }
}
/* ----------------- READY TO TRANSFORM YOUR STAY ---------------------- */

.Ready-to-Transform-Your-Stay {
    background: var(--linear-gradient);
    padding: 5rem;
    
    /* aligning text and button */
    .displayflex-column {
        display: flex;
        flex-direction: column;
        color: var(--white);
        
        /* giving the <h2> unique atributes */
        .rttys-text-h2 {
            align-self: center;
            padding-bottom: 1.5rem;
            font-weight: 400;
            font-size: 3rem;
        }

        /* giving the <p> unique atributes */
        .rttys-text-p {
            text-align: center;
            padding-bottom: 2rem;
            font-weight: 400;
            font-size: 2rem;
        }
    }

}

.contact-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 25rem;
    gap: 1rem;

    .contact-us-rubrik {
        font-weight: 400;
        --font-inter: "Inter", sans-serif;
        font-size: 3rem;

        .skicka-meddelande-knappen {
            background-color: var(--green);
            padding: 2rem;
        }
    }

    .text-above-contacts {
        font-weight: 400;
        --font-inter: "Inter", sans-serif;
        font-size: 2rem;
    }
}

.förälder-formulär {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    min-height: 30rem;
    border: solid black 1px;
    border-radius: 1.25rem;
    box-sizing: border-box;
    margin-top: 1rem;
}

.fält {
    display: grid;
    width: 100%;
    padding: 2rem 12rem 1rem 4rem;
    /* gap: 0.1rem; */
}

.fält input {
    background-color: var(--lightgrey);
    border-radius: 0.3rem;
    padding: 0.5rem 10rem;
    gap: 1rem;
    border: 1px solid var(--black);
    box-sizing: border-box;
}

.fält label {
    font-weight: 700;
    --font-inter: "Inter", sans-serif;
    font-size: 1.25rem;
    margin-top: 2rem;
}

.stora-fält-contacts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.skicka-meddelande-knappen {
    width: 100%;
    padding: 1rem 10rem;
    cursor: pointer;
}

/* ----------------- FOOTER ---------------------- */

.footer {
    display: flex;
    background: var(--footer-color);
    color: var(--white);
    padding: 5rem;
}

/* The grid footer */
.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;

    .footer-link{
        text-decoration: none;
        color: var(--white);
    }
    
    /* Logo and filler text */
    .top-left-footer-grid {
        display: inline-grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10rem 1fr;

        /* img */
        .tlfg-img {
            display:flex;   
            grid-column: 1 / span 1;
            grid-row: 1;
        }
        
        /* filler text */
        .tlfg-text {
            display:flex; 
            padding-top: 2rem;
            grid-column: 1 / span 1;
            grid-row: 2;
        }
    }

    /* Contact box */
    .top-middle-footer-grid {
        padding-top: 3rem;
        display:flex;   
        flex-direction: column;
        grid-column: 2 / span 1;
        grid-row: 1;
        gap: 1.5rem;
    }

    /* Quick Links box */
    .top-right-footer-grid {
        padding-top: 3rem;
        display:flex;   
        flex-direction: column;
        grid-column: 3 / span 1;
        grid-row: 1;
        gap: 0.5rem;
        
        h2 {
            padding-bottom: 1rem;
        }
    }
    
    /* Copyright text box + border */
    .bottom-footer-grid {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
        padding-top: 2rem;
        font-size: 1.5rem;
        border-top: 0.125rem solid white;
    }
}




/* ------------- MEDIA QUERIES -------------- */

/* @media (max-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
    }

    .header {
        /* background-color: #9810FA; */
        /* max-width: 768px;
        display: flex;
    }

    .logo {
        display: none;
    }

}


@media (max-width: 768px) {
    .hero-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; */

        /* justify-content: center;
        align-items: center; */
    /* }

    .Hero-sektionen {
        display: flex;
        flex-direction: column;
    }


} */ 
