/*----------------------------------------------------------------------------------------*/
/* ------------------------------- MEDIA QUERIES ---------------------------------------- */
/*----------------------------------------------------------------------------------------*/

/* ----------------------- MAX-WIDTH:1240px ----------------------------- */
@media (max-width:1240px){

    /*------------------ HEADER ------------------------*/
    .header{
        padding: 0 2rem; /*some padding for smaller units*/
    }

    /*-------------- AI INFO BOX ---------------------*/
    .yourai{
        padding: 5rem 2rem;
    }
}

/* ----------------------- MAX-WIDTH:1130px ----------------------------- */
@media (max-width: 1130px){

    /*------------------ INFO BOXES ------------------*/
    .wrapper-info__title{
        max-width: 690px; /*making sure text segment does not expand beyond box width*/

        .info-container__title{
            padding:2rem 0 1.5rem 0;
        }
        .info-container__text{
            padding:0;
        }
    }
    
    .wrapper-info__box{
        display:grid; /*grid for layout*/
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap:2rem; /*more gap between boxes*/

        padding: 2rem 0; /*less padding around info-boxes*/
    }

    .info-box{
        grid-template-columns: auto / span 1; /*placing out boxes*/
        grid-template-rows: auto / span 1;

        max-width:350px; /*changing size of boxes*/
        max-height:400px;
    }

    /*-------------- AI INFO BOX ---------------------*/
    .yourai{
        flex-direction: column; /*changing direction to column*/

        .yourai__img{
            width:100%; /*img true size*/
            height:100%;

            order:0; /*img positioned above text*/
        }

        .AI-text{
            margin-top:3rem; /*some space between picture and text*/

            order:1; /*text positioned below img*/

            display:grid; /*positioning text with grid*/
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap:2rem; /*gap between text sections*/

            /*positioning elements with grid*/
            .AI-text-h2{
                grid-column: 1/2;
                grid-row: 1/2;

                padding:0;
            }
            .themoment{
                grid-column: 1/2;
                grid-row: 2/3;
            }

            /*styling container for p elements*/
            .yourai--text{
                grid-column: 2/3;
                grid-row: 1/4;
                align-self: center;
                margin-top: 2rem;

                display:flex;/*placing p elements in columns with flexbox*/
                flex-direction: column;
                gap:4rem; /*gap between p elements*/

                .AI-text-p{
                    padding:0; /*no padding for this element*/
                }
            }
            .AI-button-a{
                grid-column: 1/2;
                grid-row: 3/4;

                text-decoration: none; /*no underline for a element*/

                .AI-button{
                    margin:0;
                }
            }

        }
    }
}

/* ----------------------- MAX-WIDTH:1000px ----------------------------- */
@media (max-width:1000px){
    /*------------------ HERO ------------------------*/
    .Hero-section{

        .hero-text{
            display:flex;
            flex-direction: column;
        }
        .welcome{
            white-space: wrap;
        }
        .button-undertext{
            white-space: wrap;
        }
    }


    /*-------------- AI INFO BOX ---------------------*/
    .yourai{
        padding: 2rem 0; /*less padding for smaller units*/

        .AI-text{
            margin-top: 1rem; /*less margin for smaller units*/
            display:flex; /*flexbox for text, centering*/
            justify-content: center;
            align-items: center;
            text-align: center;

            .yourai--text{ /*hiding p elements*/
                display:none;
            }
        }
        .yourai__img{
            align-self: center;
            max-width:732px; /*aligning different sections*/
        }
        
    }

    /*--------- READY TO TRANSFORM YOUR STAY -------*/
    .displayflex-column{
        max-width: 732px; /*max-width to align with other sections*/
    }
}

/* ----------------------- MAX-WIDTH:810px -------------------------------- */
@media (max-width:810px){
    /*------------------ HERO ------------------------*/
    .Hero-section{
        height:60vh; /*changing height for hero*/

        .welcome{
            font-size: 4rem;
        }
    }

    /*------------------ FORM ------------------------*/
    #form-section--home{ /*hiding form*/
        display: none;
    }

    /*--------- READY TO TRANSFORM YOUR STAY -------*/
    .Ready-to-Transform-Your-Stay{
        padding: 2rem; /*less padding for smaller units*/
    }
}


/* ----------------------- MAX-WIDTH:630px -------------------------------- */
@media (max-width:630px){

    /*------------------ INFO BOXES ------------------*/
    .wrapper-info__title{

        .info-container__title{
            padding:1rem; /*less padding title*/
        }
    }
    .wrapper-info__box{
        gap:0.5rem; /*less gap between boxes and less padding for smaller units*/
        
    }
    .info-box{
        padding:0.5rem; /*less padding inside info-boxes*/
    }
    .info-box--vision{
        gap:0;
    }


    /*-------------- AI INFO BOX ---------------------*/
    .yourai{
        padding:0 0 1rem 0; /*removing padding from section, except for bottom padding*/

        .AI-text{
            gap:1.5rem; /*less gap for smaller units*/
        }

        .yourai__img{
            border-radius: 0; /*no rounded edges for picture for smaller units*/
        }
    }
}
/* ----------------------- MAX-WIDTH:500px -------------------------------- */
@media (max-width:500px){

    /*------------------ HERO ------------------------*/
    .Hero-section{

        .welcome{
            font-size: 3rem;
        }
        .hero-text p{
            font-size: 1.5rem;
        }
        .button-undertext, .learnmore-button-undertext{
            font-size:1rem;
        }
    }
    /*------------------ INFO BOXES ------------------*/
    .wrapper-info__box{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }
    .info-box{
        grid-column: auto / span 1;
        grid-row: auto / span 1;
    }
    .info-box--vision{
        grid-template-rows: repeat(auto-fit,minmax(80px, 1fr));
        height:100%;
    }
    .info-box--sustainability{
        grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
    }

    /*-------------- AI INFO BOX ---------------------*/
    .yourai{
        display:none;
    }

    /*--------- READY TO TRANSFORM YOUR STAY -------*/
    .Ready-to-Transform-Your-Stay{
        padding: 0.5rem; /*less padding for smaller units*/
    }
}