/* ---------------------- MOBIL LAYOUT ABOUT PAGE ----------------------- */


/* 
@media (max-width: 500px) {
    .wrapper--about-hero {
        display: flex;
        flex-wrap: nowrap;
        font-size: 1rem;
    }
    
} */

@media (max-width: 1000px) {
    .hero__text {
        display: none;
    }

}


@media (max-width: 1000px) {
     .hero__title {
        font-size: 3rem;
        font-weight: 200;
    }
}

@media (max-width: 375px) {
    .hero__title {
       font-size: 10rem; /* 0.2rem är för litet */
        font-weight: 200;
        display: inline-block;
        white-space: nowrap;
        background-color: burlywood;
    }
}

@media (max-width: 1000px) {
    .Ready-to-Transform-Your-Stay .card-h2 {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 600px) {
    .Ready-to-Transform-Your-Stay .card-h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 876px) {
    .Ready-to-Transform-Your-Stay .card-h2 {
        padding: 1rem;
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .displayflex-column h2 {
        display: none;
    }
}