/*-------------------------------------------------------------
-------- SPECIFIC STYLING FOR ELEMENTS IN INDEX.HTML-----------
---------------------------------------------------------------*/

/* The section of the hero with background-picture and titles */
.Hero-section {
    background: linear-gradient(var(--overlay), var(--overlay)), 
    url('../assets/photos/10-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:70vh; 

    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .hero-text {
        position: absolute;
        color: var(--white);
        text-align: center;
        font-size: 2rem;
    }

    .welcome {
        font-weight: 400;
        font-size: 5rem;
        white-space: nowrap;
    }

    /* The button for booking and reading more about the hotel */
    .bookit {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
        margin-top: 2rem;
    }

    .button-undertext {
        white-space: nowrap;
        padding: 1rem 0.7rem;
        background-color: var(--green);
        font-size: 1.2rem;
        color: var(--white);
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-weight: 600;
    }
    .button-undertext:hover{
        transition: font-size 0.2s ease, padding 0.2s ease; /*transition for scaling up text and box-shadow*/
        font-size: 1.5rem;
        padding: 0.8rem 0;
    }

    .learnmore-button-undertext {
        padding: 0.8rem 0.6rem;
        border-radius: 10px;
        border: var(--white);
        border:  0.1875rem solid var(--white);
        font-weight: 600;
        font-size: 1.2rem;
        color: var(--white);
        background-color: transparent;
        cursor: pointer;
    }
    .learnmore-button-undertext:hover{
        transition: font-size 0.2s ease, padding 0.2s ease; /*transition for scaling up text and box-shadow*/
        font-size: 1.5rem;
        padding: 0.6rem 0;
    }
}

/* -------------------- FORM ----------------------*/
#form-section--home, .form-section--home-booking{
    background: linear-gradient(to right, var(--green), var(--darkgreen)); /*background for whole section*/
    min-height: 20vh; /*setting height*/
}

#wrapper-form--home{
    display:flex; /*flexbox for positioning form inside of section*/
    justify-content: center;

    height: 100%; /*taking all available height*/

    align-items: flex-start; /*positioning with padding instead*/
    padding-top:3vh; /*form is not centered, box/buttons is centered inside of section*/
}

#form--home{
    display:grid; /*layout with grid for form elements*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto); /*row with labels is smaller*/
    align-items: flex-start; /*making sure label and element doesn't separate from each other*/
    gap: 0.7rem; /*gap between elements*/

    margin: 0 6rem; /*margin only on sides*/

    #form__button--home:hover{
        box-shadow: 0 6px 10px var(--box-shadow); /*box-shadow when hovering over button*/
    }

    /* All elements in form*/
    .form-element{
        padding:1rem 1rem; /*padding inside of element*/
        width:100%; /*each element takes up its space*/

        font-size: 1.5rem; /*increasing font-size and font-weight*/
        font-weight:600;
    }

    .form__label{
        display:flex;
        align-self: flex-end; /*text is aligned with its element*/
        justify-self: flex-start;

        padding-left: 0.5rem;

        font-size:1.5rem;
        font-weight: 600;
    }

    /*placing out elements inside of grid*/
    #form__label--home-checkin{
        grid-column: 1/2;
        grid-row:1/2;
    }

    #form__date--checkin{
        grid-row:2/3;
        grid-column: 1/2;
    }

    #form__label--home-checkout{
        grid-column: 2/3;
        grid-row:1/2;
    }

    #form__date--checkout{
        grid-row:2/3;
        grid-column: 2/3;
    }

    #form__label--home-select{
        grid-column: 3/4;
        grid-row:1/2;
    }

    #form__select--guests{
        grid-row: 2/3;
        grid-column: 3/4;
    }

    /* options in select menu*/
    .option-guests{
        font-weight: 400; /*lower font-weight than other elements inside option dropdown menu*/
    }
}

/* styling for date and select element */
.input-date, .select-guests, .input-room-type{
    border: 1px solid var(--black); /*black small border*/
    border-radius: 1rem; /*rounds out edges*/
}

/*specific styling for button inside of form*/
#form__button--home{
    grid-column: 4/5;
    grid-row: 2/3;

    padding: 0 0.6rem;

    background-color: var(--black); /*black background-color*/
    color: var(--white); /*and white text*/

    transition: box-shadow 0.2s ease; /*transition for box-shadow when hovering*/
}


/* ----------------- INFO BOXES ------------------- */
.info-container{
    display:flex; /*flexbbox for entire section*/
    flex-direction: column; /*each section is placed as columns and centered inside of container*/
    justify-content: center;
    align-items: center;
}

/* Specific styling for each section - vision / sustainability*/
.info-container--vision{
    .info-container__text{
        font-family: var(--font-montserrat); /*different font for this section*/
    }
}

.info-container--sustainability{
    background-color: var(--turquoise); /*specific background colour for this section*/
}

/* Wrapper for title sections and their elements */
.wrapper-info__title{
    display:flex; /*flexbox for titles and text*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    .info-container__title{
        padding:4rem 0 3rem 0;

        font-size: 3rem;
        font-weight: 400;
    }

    .info-container__text{
        padding: 0 3rem;
        font-size: 1.5rem;
        font-weight: 400;
    }
}

/* Wrapper for box sections */
.wrapper-info__box{
    display:flex; /*flexbox for placing out boxes*/
    flex:1; /*each box takes up even space*/
    justify-content: space-between;
    gap:1rem; /*gap between boxes*/
    padding: 4rem 0; /*padding around boxes*/

    .info-box:hover{
        transform: scale(1.05, 1.05); /*scaling up boxes when mouse is hovered over*/
        box-shadow: 0 4px 10px var(--box-shadow); /*box shadow appearing when hovering*/
    }
}

/* Styling for boxes and their elements */
.info-box{
    padding:1rem 1rem 2rem 1rem; /*padding inside of box*/
    max-width:300px; /*max width and height for box*/
    max-height: 450px;

    border: 1px solid var(--grey-border); /*grey border and rounded edges for boxes*/
    border-radius: 24px;

    transition: transform 0.2s ease, box-shadow 0.3s ease; /*transition for transforming box*/
    
    .info-box__icon{
        max-width:4rem; /*styling icon inside of box*/
        padding:1rem;

        background-color: var(--lightgreen); /*round, green background for icon*/
        border-radius: 50%; /*makes it round*/
    }

    .info-box__title{
        font-size: 2rem;
        font-weight: 400;
    }

    .info-box__text{
        font-size: 1.25rem;
        font-weight: 400;
    }

    /* Specific for section 2 "Sustainability" */
    .info-box__number{ 
        color: var(--green);
    }
}

/* Styling for boxes in each section */
.info-box--vision{
    display:grid; /*grid to layout elements inside box, with specific styling*/
    grid-template-rows: repeat(auto-fit, minmax(120px,1fr));
    gap:1rem; /*gap between elements inside of vision box*/
}

.info-box--sustainability{
    display:grid; /*grid to layout elements inside box, with specific styling*/
    grid-template-rows: repeat(auto-fit, minmax(60px,1fr));
    gap:2rem; /*gap between elements inside of sustainability box*/

    text-align: center; /*centered text for box*/

    background-color: var(--white); /*needs to be specified or background-color is inherited*/

    .info-box__icon{
        justify-self: center; /*centered icon*/
    }
}

/*-------------------------AI-INFO-BOX---------------------------------*/
 
.yourai {
    display: flex;
    flex-direction: row;
    max-width: 1240px;
    width: auto;
    padding: 5rem 0;
    justify-content: space-between;
    

    .AI-text {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;

        .AI-text-h2 {
            padding-bottom: 2rem;
            font-weight: 400;
            font-size: 3rem;
        }  
        .AI-text-p {
            padding-top: 2rem;
            font-size: 1.25rem;

            .ai__text--grey{
                color: var(--dark-grey);
            }
        }
        .AI-button {
            display: flex;
            align-self: flex-start;
            margin-top: 2rem;
            padding: 1.3rem 1rem;
            display: inline-block;
            background-color: var(--green);
            border-radius: 10px;
            color: var(--white);
            font-weight: 600;
            --font-inter: "Inter", sans-serif;
            font-size: 1.2rem;
        }
        .AI-button:hover{
            transition: box-shadow 0.3s ease; /*transition for scaling up text and box-shadow*/
            box-shadow: 0 8px 10px var(--box-shadow);
        }
        
    }
    
    .yourai__img {
    max-width: 100%;
    width: 31.5rem;
    height: auto;
    border-radius: 1.5rem;
    }
}
/* ------------------------Ready To Transform Your Stay-------------------------- */

.rttys-center{
    display: flex;
    justify-content: center;
    text-decoration: none;
    
    .rttys-button {
        background: var(--grey-btn);
        color: var(--green);
        border: none;
        font-weight: 600;
        font-size: 1.5rem;
        padding: 1rem 0.8rem;
        border-radius: 10px;
    }
    .rttys-button:hover{
        transition: box-shadow 0.3s ease; /*transition for scaling up text and box-shadow*/
        box-shadow: 0 8px 12px var(--box-shadow);
    }
}