/*-------------------------------------------------------------
-------- SPECIFIC STYLING FOR ELEMENTS IN INDEX.HTML-----------
---------------------------------------------------------------*/

/* The section of the hero with background-picture and titles */
.Hero-section {
    background: linear-gradient(var(--overlay), var(--overlay)), 
    url('../assets/photos/10-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:70vh; 

    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .hero-text {
        position: absolute;
        color: var(--white);
        text-align: center;
        font-size: 2rem;
    }

    .welcome {
        font-weight: 400;
        font-size: 5rem;
        white-space: nowrap;
    }

    /* The button for booking and reading more about the hotel */
    .bookit {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
        margin-top: 2rem;
    }

    .button-undertext {
        white-space: nowrap;
        padding: 1rem 0.7rem;
        background-color: var(--green);
        font-size: 1.2rem;
        color: var(--white);
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-weight: 600;
    }

    .learnmore-button-undertext {
        padding: 0.8rem 0.6rem;
        border-radius: 10px;
        border: var(--white);
        border:  0.1875rem solid var(--white);
        font-weight: 600;
        font-size: 1.2rem;
        color: var(--white);
        background-color: transparent;
        cursor: pointer;
    }
}

/* -------------------- FORM ----------------------*/
.form-section--home{
    background: linear-gradient(to right, var(--green), var(--darkgreen)); /*background for whole section*/
    height: 20vh; /*setting height*/
}

.wrapper-form--home{
    display:flex; /*flexbox for wrapping form*/
    justify-content: center;
    align-items: center;

    height: 100%; /*taking all available height*/
}

.form--home{
    display:flex; /*flexbox for form elements*/
    justify-content: space-evenly;
    align-items: center;
    flex:1; /*each element has 1 fraction of the available space*/
    gap:1rem; /*gap between each element*/

    margin: 0 6rem; /*margin only on sides*/

    /* All elements in form*/
    .form-element{
        padding:1rem 1rem; /*padding inside of element*/
        width:100%; /*each element takes up its space*/

        font-size: 1.5rem; /*increasing font-size and font-weight*/
        font-weight:600;
    }

    /* options in select menu*/
    .option-guests{
        font-weight: 400; /*lower font-weight than other elements inside option dropdown menu*/
    }
}

/* styling for date and select element */
.input-date, .select-guests{
    border: 1px solid var(--black); /*black small border*/
    border-radius: 1rem; /*rounds out edges*/
}

/*specific styling for button inside of form*/
.button-form--home{
    background-color: var(--black); /*black background-color*/
    color: var(--white); /*and white text*/
}


/* ----------------- INFO BOXES ------------------- */
.info-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Specific styling for each section - vision / sustainability*/
.info-container--vision{
    .info-container__text{
        font-family: var(--font-montserrat); /*different font for this section*/
    }
}

.info-container--sustainability{
    background-color: var(--turquoise); /*specific background colour for this section*/
}

/* Wrapper for title sections and their elements */
.wrapper-info__title{
    display:flex; /*flexbox for titles and text*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    .info-container__title{
        padding:4rem 0 3rem 0;

        font-size: 3rem;
        font-weight: 400;
    }

    .info-container__text{
        padding: 0 3rem;
        font-size: 1.5rem;
        font-weight: 400;
    }
}

/* Wrapper for box sections */
.wrapper-info__box{
    display:flex; /*flexbox for placing out boxes*/
    flex-direction: row;
    flex:1;
    justify-content: space-between;
    gap:1rem;
    padding: 4rem 0;
}

/* Styling for boxes and their elements */
.info-box{
    padding:1rem 1rem 2rem 1rem;
    max-width:300px;
    max-height: 450px;

    border: 1px solid var(--grey-border);
    border-radius: 24px;
    
    .info-box__icon{
        max-width:4rem;
        padding:1rem;

        background-color: var(--lightgreen); /*round, green background for icon*/
        border-radius: 50%;
    }

    .info-box__title{
        font-size: 2rem;
        font-weight: 400;
    }

    .info-box__text{
        font-size: 1.25rem;
        font-weight: 400;
    }

    /* Specific for section 2 "Sustainability" */
    .info-box__number{ 
        font-size: 2rem;
        font-weight: 400;
        color: var(--green);
    }
}

/* Styling for boxes in each section */
.info-box--vision{
    display:grid; /*grid to layout elements inside box, with specific styling*/
    grid-template-rows: repeat(auto-fit, minmax(120px,1fr));
    gap:1rem;
    place-self: start;
}

.info-box--sustainability{
    display:grid; /*grid to layout elements inside box, with specific styling*/
    grid-template-rows: repeat(auto-fit, minmax(60px,1fr));
    gap:2rem;
    
    padding-bottom: 4rem;
    text-align: center; /*centered elements for these boxes*/

    background-color: var(--white);

    .info-box__icon{
        justify-self: center;
    }
}

/*-------------------------AI-INFO-BOX---------------------------------*/
 
.yourai {
    display: flex;
    flex-direction: row;
    max-width: 1240px;
    width: auto;
    padding: 5rem 0;
    justify-content: space-between;
    

    .AI-text {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;

        .AI-text-h2 {
            padding-bottom: 2rem;
            font-weight: 400;
            font-size: 3rem;
        }  
        .AI-text-p {
            padding-top: 2rem;
            font-size: 1.25rem;

            .ai__text--grey{
                color: var(--dark-grey);
            }
        }
        .AI-button {
            display: flex;
            align-self: flex-start;
            margin-top: 2rem;
            padding: 1.3rem 1rem;
            display: inline-block;
            background-color: var(--green);
            border-radius: 10px;
            color: var(--white);
            font-weight: 600;
            --font-inter: "Inter", sans-serif;
            font-size: 1.2rem;
        }
    }
    
    .AI-bilden {
    width: 35rem;
    height: auto;
    border-radius: 1.5rem;
    }
}
/* ------------------------Ready To Transform Your Stay-------------------------- */

.rttys-button {
    background: var(--grey-btn);
    color: var(--green);
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0.5rem 0.4rem;
    border-radius: 10px;
    align-self: center;
}

/*----------------------------------------------------------------------------------------*/
/* ------------------------------- MEDIA QUERIES ---------------------------------------- */
/*----------------------------------------------------------------------------------------*/

@media (max-width:1240px){
    .yourai{
        padding: 5rem 2rem;
    }
}

@media (max-width: 1130px){
    /*------------------ INFO BOXES ------------------*/
    .wrapper-info__title{
        max-width: 690px; /*making sure text segment does not expand beyond box width*/

        .info-container__title{
            padding:2rem 0 1.5rem 0;
        }
        .info-container__text{
            padding:0;
        }
    }
    
    .wrapper-info__box{
        display:grid; /*grid for layout*/
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap:2rem; /*more gap between boxes*/

        padding: 2rem 0; /*less padding around info-boxes*/
    }

    .info-box{
        grid-template-columns: auto / span 1; /*placing out boxes*/
        grid-template-rows: auto / span 1;

        max-width:350px; /*changing size of boxes*/
        max-height:400px;
    }

    /*-------------- AI INFO BOX ---------------------*/
    .yourai{
        flex-direction: column; /*changing direction to column*/

        .AI-bilden{
            width:100%; /*img true size*/
            height:100%;

            order:0; /*img positioned above text*/
        }

        .AI-text{
            margin-top:3rem; /*some space between picture and text*/
            padding-left: 1rem;

            order:1; /*text positioned below img*/

            display:grid; /*positioning text with grid*/
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap:2rem; /*gap between text sections*/

            /*positioning elements with grid*/
            .AI-text-h2{
                grid-column: 1/2;
                grid-row: 1/2;

                padding:0;
            }
            .themoment{
                grid-column: 1/2;
                grid-row: 2/3;
            }

            /*styling container for p elements*/
            .yourai--text{
                grid-column: 2/3;
                grid-row: 1/4;
                align-self: center;
                margin-top: 2rem;

                display:flex;/*placing p elements in columns with flexbox*/
                flex-direction: column;
                gap:4rem; /*gap between p elements*/

                .AI-text-p{
                    padding:0; /*no padding for this element*/
                }
            }
            .AI-button-a{
                grid-column: 1/2;
                grid-row: 3/4;

                text-decoration: none; /*no underline for a element*/

                .AI-button{
                    margin:0;
                }
            }

        }
    }
}

@media (max-width:1000px){
    .yourai{
        padding: 2rem 0;

        .AI-text{
            margin-top: 1rem;
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .yourai--text{ /*hiding p elements*/
                display:none;
            }
        }
        .AI-bilden{
            align-self: center;
            max-width:732px;
        }
        
    }

    .displayflex-column{
        max-width: 732px;
    }
}

@media (max-width:810px){
    .form-section--home{ /*hiding form*/
        display: none;
    }
}

