/*-------------------------------------------------------------
-------- SPECIFIC STYLING FOR ELEMENTS IN ABOUT.HTML-----------
---------------------------------------------------------------*/

.hero--about{
    height: 55vh;
    background: linear-gradient(var(--overlay), var(--overlay)), /*dark overlay to make picture appear darker*/
    url('../assets/photos/12.jpg'); /*picture set as background*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display:flex; /*flexbox for wrapper*/
    /*wrapper for hero, flexbox to center elements*/
    .wrapper--about-hero{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width:100%; /*take up all space given*/
    }

    /*styling both titles*/
    .hero__title, .hero__text{
        color:var(--white);
        font-weight: 400;
    }

    /*different sizing for titles*/
    .hero__title{
        font-size: 5rem;
    }

    .hero__text{
        font-size: 2.25rem;
    }
}