@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* COLOUR & FONT VARIABLES */
:root{
    --black: #000000;
    --box-shadow: #00000040;
    --footer-color: #101828;
    --white: #FFFFFF;
    --grey-filter: #DBDBDB;
    --grey-btn: #CBCBCB;
    --grey-box: #D9D9D9;

    --green: #009966;
    --darkgreen: #009688;
    --lightgreen: #88DC84;
    --turquoise: #D4FFF3;
    --purple: #9810FA;

    --font-inter: "Inter", sans-serif;
    --font-fira: "Montserrat", sans-serif;
}

/* NORMALIZATION */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BASE STYLING*/
body{
    /* min-height: 100vh;
    width: 100%; */
    font-family: var(--font-inter);
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.button{
    border-radius: 10px;
    border-style: none;
}

/* FOOTER */

.footer {
    background: var(--footer-color);
    color: var(--white);
    padding: 10rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 15rem 12.5rem;
    gap: 1rem;
    
    
    .top-left-footer-grid {
        display: inline-grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10rem 1fr;

        .tlfg-img {
            display:flex;   
            grid-column: 1 / span 1;
            grid-row: 1;
        }
        
        .tlfg-text {
            display:flex; 
            padding-top: 2rem;
            grid-column: 1 / span 1;
            grid-row: 2;
        }
    }

    .top-middle-footer-grid {
        padding-top: 3rem;
        display:flex;   
        flex-direction: column;
        grid-column: 2 / span 1;
        grid-row: 1;
        gap: 1.5rem;
    }
    
    .top-right-footer-grid {
        padding-top: 3rem;
        display:flex;   
        flex-direction: column;
        grid-column: 3 / span 1;
        grid-row: 1;
        gap: 0.5rem;
        
        h2 {
            padding-bottom: 1rem;
        }
    }
}

.bottom-footer-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    padding-top: 2rem;
    font-size: 1.5rem;
    border-top: 2px solid white;
}