@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* COLOUR & FONT VARIABLES */
:root{
    --black: #000000;
    --box-shadow: #00000040;
    --footer-color: #101828;
    --white: #FFFFFF;
    --grey-filter: #DBDBDB;
    --grey-btn: #CBCBCB;
    --grey-box: #D9D9D9;
    --grey-border: #686868;

    --green: #009966;
    --darkgreen: #009688;
    --lightgreen: #88DC84;
    --turquoise: #D4FFF3;
    --purple: #9810FA;

    --font-inter: "Inter", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
}

/* NORMALIZATION */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BASE STYLING*/
body{
    font-family: var(--font-inter);
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.button{
    border-radius: 10px;
    border-style: none;
}

/* Information boxes - specific styling */
.info-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-container--vision{
    .info-container__text{
        font-family: var(--font-montserrat); /*different font for this section*/
    }
}

.info-container--sustainability{
    background-color: var(--turquoise); /*specific background colour for this section*/
}

.wrapper-info__intro{
    display:flex; /*flexbox for titles and text*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    .info-container__title{
        padding:4rem 0 3rem 0;

        font-size: 3rem;
        font-weight: 400;
    }

    .info-container__text{
        padding: 0 3rem;
        font-size: 1.5rem;
        font-weight: 400;
    }
}

.wrapper-info__box{
    display:flex; /*flexbox for placing out boxes*/
    flex-direction: row;
    flex:1;
    justify-content: space-between;
    gap:1rem;
    padding: 4rem 0;
}

.info-box{
    padding:1rem 1rem 2rem 1rem;
    max-width:300px;
    max-height: 450px;

    border: 1px solid var(--grey-border);
    border-radius: 24px;
    
    .info-box__icon{
        max-width:4rem;
        padding:1rem;

        background-color: var(--lightgreen); /*giving background to icon*/
        border-radius: 50%;
    }

    .info-box__title{
        font-size: 2rem;
        font-weight: 400;
    }

    .info-box__text{
        font-size: 1.25rem;
        font-weight: 400;
    }

    .info-box__number{
        font-size: 2rem;
        font-weight: 400;
        color: var(--green);
    }
}

.info-box--vision{
    display:grid; /*grid to layout elements inside box, with specific styling*/
    grid-template-rows: repeat(auto-fit, minmax(120px,1fr));
    gap:1rem;
    place-self: start;
}

.info-box--sustainability{
    display:grid; /*grid to layout elements inside box, with specific styling*/
    grid-template-rows: repeat(auto-fit, minmax(60px,1fr));
    gap:2rem;
    
    padding-bottom: 4rem;
    text-align: center; /*centered elements for this section*/

    background-color: var(--white);

    .info-box__icon{
        justify-self: center;
    }
}

/* ----------------- FOOTER ---------------------- */

.footer {
    display: flex;
    background: var(--footer-color);
    color: var(--white);
    padding: 5rem;
}

/* The grid footer */
.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    
    /* Logo and filler text */
    .top-left-footer-grid {
        display: inline-grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10rem 1fr;

        /* img */
        .tlfg-img {
            display:flex;   
            grid-column: 1 / span 1;
            grid-row: 1;
        }
        
        /* filler text */
        .tlfg-text {
            display:flex; 
            padding-top: 2rem;
            grid-column: 1 / span 1;
            grid-row: 2;
        }
    }

    /* Contact box */
    .top-middle-footer-grid {
        padding-top: 3rem;
        display:flex;   
        flex-direction: column;
        grid-column: 2 / span 1;
        grid-row: 1;
        gap: 1.5rem;
    }

    /* Quick Links box */
    .top-right-footer-grid {
        padding-top: 3rem;
        display:flex;   
        flex-direction: column;
        grid-column: 3 / span 1;
        grid-row: 1;
        gap: 0.5rem;
        
        h2 {
            padding-bottom: 1rem;
        }
    }
    
    /* Copyright text box + border */
    .bottom-footer-grid {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
        padding-top: 2rem;
        font-size: 1.5rem;
        border-top: 0.125rem solid white;
    }
}
