/*---------------------------------------------------------------
-------- SPECIFIC STYLING FOR ELEMENTS IN BOOKING.HTML-----------
-----------------------------------------------------------------*/


/*------------------------------ROOMS AVAILABLE------------------------------*/
.main--booking{
    background-color: var(--turquoise);
}

.rooms-section{
    display:flex; /*flexbox for placing out room boxes*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem; /*gap between each box*/

    padding-bottom: 5rem; /*padding under section of rooms*/
}

.rooms__titles{
    padding: 3rem 0 2rem 0; /*sokme padding around titles*/

    h2, h3{
        font-weight: 400; /*lighter font-weight for both titles*/
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2rem;
    }
}

.room-box{
    display: flex;

    width:100%;/*box is taking up all available width space*/
    height: 35vh;

    background-color: var(--white);
    box-shadow: 0 4px 10px var(--box-shadow); /*box-shadow beneath box*/
    border-radius: 25px; /*rounded corners*/

    .room__img-wrapper{
        position: relative; /*makes it possible to place score inside of picture*/

        .room__score{
            display:flex; /*flexbox for elements inside, star and score points*/
            justify-content: center;
            align-items: center;
            gap:0.2rem; /*small gap between elements*/

            position: absolute;
            top:6%; /*placing out where score is positioned*/
            left: 82%;

            padding:0.5rem 0.7rem; /*some padding inside of score box*/

            border-radius: 100px; /*rounded edges*/
            background-color: var(--white);
        }
        
        .room__img{
            width:30rem; /*smaller img*/
            height:100%;
            border-radius: 25px 0 0 25px; /*only round corners for left side*/
        }

        .room__text{
            font-size: 1.5rem;
        }
        
    }

    .room__content{
        display:grid; /*grid for layout*/
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap:1rem;

        width:100%; /*takes upp all available width*/
        padding:1rem; /*elements do not line up against borders*/

        .room__icon{
            max-width:1.2rem; /*setting max width to icons*/
        }

        h3{
            grid-column: 1/3; /*placing out inside of grid*/
            grid-row: 1/2;

            align-self: center;

            font-size: 2rem;
            font-weight:400
        }
        .room__price{
            grid-column: 3/4;
            grid-row: 1/2;

            justify-self: flex-end;
            margin-right:1rem; /*some margin to the right*/

            .room__price--dollar{
                color:var(--green);
                font-size: 2rem;
                font-weight:400;
            }
        }
        .room__info{
            grid-column: 1/3;
            grid-row: 2/3;

            display:flex; /*flexbox for elements inside of room__info*/
            align-items: flex-start;
            gap:1.5rem; /*some gap between elements*/
        }

        .room__text, .room__text--title{
            font-size:1.2rem;
        }

        .room__info--features{
            grid-column: 1/3;
            grid-row: 3/4;

            display:flex;
            flex-direction: column;

            .room__img-title{
                display: flex;
                gap:0.5rem;
            }

            .room__text--features{
                display:flex;
                gap:0.5rem;
                
                p{
                    background-color: var(--grey-box);
                    border-radius:5px;
                    padding: 0.2rem 0.4rem;
                }
            }
        }

        .room__info--ai{
            grid-column: 1/3;
            grid-row: 4/5;
            
            display:flex;
            flex-direction: column;

            .room__img-title{
                display: flex;
                gap:0.5rem;
            }

            .room__text--ai{
                display:flex;
                gap:0.5rem;

                p{
                    background-color: var(--grey-box);
                    color:var(--purple);
                    border-radius:5px;
                    padding: 0.2rem 0.4rem;
                }
            }
        }

        .room__info--sustainability{
            grid-column: 1/3;
            grid-row: 5/6;
            display:flex;
            flex-direction: column;

            .room__img-title{
                display: flex;
                flex-direction: row;
                gap:0.5rem;
            }
        }

        .room__button{
            grid-column: 1/4;
            grid-row: 6/7;

            width:100%;
            padding:0.7rem;

            border-radius: 10px;
            background-color: var(--green);
            color: var(--white);
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}

.room-box:nth-child(even) {
    flex-direction: row-reverse; /*even boxes change direction of img*/
}