/*-------------------------------------------------------------
-------- SPECIFIC STYLING FOR ELEMENTS IN ABOUT.HTML-----------
---------------------------------------------------------------*/


/*----------------------HERO------------------------------*/

.hero--about{
    height: 50vh; /*set height for hero section*/
    background: linear-gradient(var(--overlay), var(--overlay)), /*dark overlay to make picture appear darker*/
    url('../assets/photos/12.jpg'); /*picture set as background*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex; /*flexbox for wrapper*/
    
    /*wrapper for hero, flexbox to center elements*/
    .wrapper--about-hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align:center;

        width:100%; /*take up all space given*/
    }

    /*styling both titles*/
    .hero__title, .hero__text{
        color:var(--white);
        font-weight: 400;
    }

    /*different sizing for titles*/
    .hero__title{
        font-size: 5rem;
        margin:1.5rem 0;
    }

    .hero__text{
        font-size: 2.25rem;
    }

}
/*----------------------OUR STORY------------------------------*/
.About-Our-Story {
    background-color: var(--white); /* Background colors for this segment */

    /* Adding styling to this segment */
    .Our-Story {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        padding: 5rem 0;
        font-weight: 400;
        

        /* Styling the h2 tag  */
        .Our-Story-h2 {
            font-size: 3rem;
            padding-bottom: 3rem;
        }
        
        .Our-Story-p {
            font-size: 1.5rem;
        }
    }
}
/* Backgrond color */ 
.About-turquoise {
    background-color: var(--turquoise);
    padding: 3rem 0;
}
    
/* padding to extend the untill the next section */ 
.About-Flex-Row {
    padding-bottom: 3rem;
}

/* positioning the elements in the bar above the pictures on the about page */ 
.About-Menu {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    border-radius: 100px 100px;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: var(--About-Selector);
}

/* styling all the elements */
.about-menu-font {
    font-size: 1.5rem;
    font-weight: 600;
}

/* spacing the elements */
.About-Padding {
    padding: 0 3rem;
}

/* styling the active element */
.Button-With-No-White-Active {
    border: none;
    cursor:pointer;
    padding: 1rem 3rem;
    border-radius: 100px 100px;
    background-color: var(--white);
}

/* styling the none active elements */
.Button-With-No-White {
    background-color: var(--About-Selector);
    padding: 1rem 3rem;
    border: none;
    cursor:pointer;
}

/* styling the h2 tag  */
.World-Class-h2 {
    font-size: 2rem;
    font-weight: 500;
    justify-self: center;
    padding: 0.5rem;
}

/* styling the p tag  */
.World-Class-p {
    font-size: 1.5rem;
    font-weight: 400;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
}


/* positioning the boxes where the img and text is going to be */
.About-Pictures-Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 25rem);
    gap: 2rem;
    padding: 5rem 0;
    border: 10px black;
    
    
    /* flexing the img to be above the text section and not a row  */
    .pictures-and-text {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        border-radius: 15px;
        overflow: hidden;
        font-family: var(--font-inter);
        border: 1px solid black; /*Adding a border*/
        cursor: pointer;
        
        .img-size {
            height: 60%;
        }
        
        /* Hade to style these pictures specificly to take up less space */
        .img-size-12 {
            max-width:100%;
            height: 60%;
            object-fit: cover;
        }
        
        .About-text-border {
            border-top: 1px solid black; /*Adding a border above the text to 'contain' the picture*/
        }
        
        .about-pictures-h2 {
            font-weight: 400;
            padding: 1rem 0.5rem;
            padding-top: 2rem;
        }
        
        .about-pictures-p {
            font-weight: 400;
            padding: 1rem 0.5rem;
        }
    }
}

/*----------------------READY TO TRANSFORM YOUR STAY------------------------------*/
/* flexes the elements in to a row */
.displayflex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--white);
    padding-top: 1rem;

    /* adding unique attribtes to the <h2> */
    .card-h2 {
        text-align: center;
        font-weight: 400;
        font-size: 4rem;
    }
        
        /* adding unique attribtes to the <p> */
    .card-p {
        font-weight: 400;
        font-size: 1.25rem;
    }
}