/* COLOUR & FONT VARIABLES */
:root{
    --black: #000000;
    --box-shadow: #00000040;
    --white: #FFFFFF;
    --grey-filter: #DBDBDB;
    --grey-btn: #CBCBCB;
    --grey-box: #D9D9D9;

    --green: #009966;
    --darkgreen: #009688;
    --lightgreen: #88DC84;
    --turquoise: #D4FFF3;
    --purple: #9810FA;

    --font-inter: "Inter", sans-serif;
    --font-fira: "Montserrat", sans-serif;
}


/* BASE STYLING*/
body{
    font-family: var(--font-inter);
}

.wrapper{
    max-width: 1240px; /*Content is never wider than 1240px*/
}

/* NORMALIZATION */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
background-color: #FFFFFF;
display: flex;
justify-content: center;
background-color: #eee;
}

body{
    font-family: var(--font-inter);
}



nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7rem;

   ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 3rem;
    }
    
    li {
        list-style: none;
        padding: 0rem 1.2rem;
    }
    
    a {
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--black);
    }

    .Home {
        color: var(--green);
    }

    .button {
        white-space: nowrap;
        padding: 0.8rem 0.7rem;
        background-color: var(--green);
        font-size: 22px;
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
}




.logo {
    max-width: 322px;
    height: 78px;
    
}