:root{

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-inter);
}



nav {
    display: flex;
    flex-direction: column;
    
}

.logo {
    width: 20px;
    height: 50px;
}