/* COLOUR & FONT VARIABLES */
:root{
    --black: #000000;
    --box-shadow: #00000040;
    --white: #FFFFFF;
    --grey-filter: #DBDBDB;
    --grey-btn: #CBCBCB;
    --grey-box: #D9D9D9;

    --green: #009966;
    --darkgreen: #009688;
    --lightgreen: #88DC84;
    --turquoise: #D4FFF3;
    --purple: #9810FA;

    --font-inter: "Inter", sans-serif;
    --font-fira: "Montserrat", sans-serif;
}


/* BASE STYLING*/
body{
    font-family: var(--font-inter);
}

.wrapper{
    max-width: 1240px; /*Content is never wider than 1240px*/
}

/* NORMALIZATION */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
background-color: #FFFFFF;
display: flex;
justify-content: center;
}

body{
    font-family: var(--font-inter);
}



nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
}


nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 45px;
}

nav li {
    list-style: none;
    padding: 0px 20px;
}

nav a {
    text-decoration: none;
}

.button {
    
}
.logo {
    max-width: 322px;
    height: 78px;
    
}