:root{

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {

}

body{
    font-family: var(--font-inter);
}



nav {
    display: flex;
    flex-direction: row;
    
}

.logo {
    max-width: 100px;
    height: 70px;
    
}