/*-------------------------------------------------------------
-------- SPECIFIC STYLING FOR ELEMENTS IN ABOUT.HTML-----------
---------------------------------------------------------------*/


/*----------------------HERO------------------------------*/
.hero--about{
    height: 70vh;
    background: linear-gradient(var(--overlay), var(--overlay)), /*dark overlay to make picture appear darker*/
    url('../assets/photos/12.jpg'); /*picture set as background*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display:flex; /*flexbox for wrapper*/
    /*wrapper for hero, flexbox to center elements*/
    .wrapper--about-hero{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align:center;

        width:100%; /*take up all space given*/
    }

    /*styling both titles*/
    .hero__title, .hero__text{
        color:var(--white);
        font-weight: 400;
    }

    /*different sizing for titles*/
    .hero__title{
        font-size: 5rem;
        margin:1.5rem 0;
    }

    .hero__text{
        font-size: 2.25rem;
    }
}

/*----------------------READY TO TRANSFORM YOUR STAY------------------------------*/
/* flexes the elements in to a row */
.displayflex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--white);
    padding-top: 1rem;

    /* adding unique attribtes to the <h2> */
    .card-h2 {
        text-align: center;
        font-weight: 400;
        font-size: 4rem;
    }
        
        /* adding unique attribtes to the <p> */
    .card-p {
        font-weight: 400;
        font-size: 1.25rem;
    }
}

