/*---------------------------------------------------------------
-------- SPECIFIC STYLING FOR ELEMENTS IN BOOKING.HTML-----------
-----------------------------------------------------------------*/

/* -------------------- FORM ----------------------*/
#form-section--home{
    background: linear-gradient(to right, var(--green), var(--darkgreen)); /*background for whole section*/
    height: 20vh; /*setting height*/
}

#wrapper-form--home{
    display:flex; /*flexbox for positioning form inside of section*/
    justify-content: center;

    height: 100%; /*taking all available height*/

    align-items: flex-start; /*positioning with padding instead*/
    padding-top:3vh; /*form is not centered, box/buttons is centered inside of section*/
}

#form--home{
    display:grid; /*layout with grid for form elements*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto); /*row with labels is smaller*/
    align-items: flex-start; /*making sure label and element doesn't separate from each other*/
    gap: 0.7rem; /*gap between elements*/

    margin: 0 6rem; /*margin only on sides*/

    /* All elements in form*/
    .form-element{
        padding:1rem 1rem; /*padding inside of element*/
        width:100%; /*each element takes up its space*/

        font-size: 1.5rem; /*increasing font-size and font-weight*/
        font-weight:600;
    }

    .form__label{
        display:flex;
        align-self: flex-end; /*text is aligned with its element*/
        justify-self: flex-start;

        padding-left: 0.5rem;

        font-size:1.5rem;
        font-weight: 600;
    }

    /*placing out elements inside of grid*/
    #form__label--home-checkin{
        grid-column: 1/2;
        grid-row:1/2;
    }

    #form__date--checkin{
        grid-row:2/3;
        grid-column: 1/2;
    }

    #form__label--home-checkout{
        grid-column: 2/3;
        grid-row:1/2;
    }

    #form__date--checkout{
        grid-row:2/3;
        grid-column: 2/3;
    }

    #form__label--home-select{
        grid-column: 3/4;
        grid-row:1/2;
    }

    #form__select--guests{
        grid-row: 2/3;
        grid-column: 3/4;
    }

    /* options in select menu*/
    .option-guests{
        font-weight: 400; /*lower font-weight than other elements inside option dropdown menu*/
    }
}

/* styling for date and select element */
.input-date, .select-guests{
    border: 1px solid var(--black); /*black small border*/
    border-radius: 1rem; /*rounds out edges*/
}

/*specific styling for button inside of form*/
#form__button--home{
    grid-column: 5/span 1;
    grid-row: 2/3;

    padding: 0 0.6rem;

    background-color: var(--black); /*black background-color*/
    color: var(--white); /*and white text*/
}