/* COLOUR & FONT VARIABLES */
:root{
    --black: #000000;
    --box-shadow: #00000040;
    --white: #FFFFFF;
    --grey-filter: #DBDBDB;
    --grey-btn: #CBCBCB;
    --grey-box: #D9D9D9;

    --green: #009966;
    --darkgreen: #009688;
    --lightgreen: #88DC84;
    --turquoise: #D4FFF3;
    --purple: #9810FA;

    --font-inter: "Inter", sans-serif;
    --font-fira: "Montserrat", sans-serif;
}


/* BASE STYLING*/
body{
    font-family: var(--font-inter);
    margin: 0;
    padding: 0;
}

.wrapper{
    max-width: 1240px; /*Content is never wider than 1240px*/
}

/* NORMALIZATION */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* The content of the header */
header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}


/* BODY part */
body{
    font-family: var(--font-inter);
}


/* Navigation menu, the links & logo  */
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7rem;
    
    .logo {
        max-width: 20.1rem;
        height: 4.8rem;
    }
    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 3rem;
    }
    
    li {
        list-style: none;
        padding: 0rem 1.2rem;
    }
    
    a {
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--black);
        font-weight: 600;
    }

    .Home {
        color: var(--green);
    }

    .button {
        white-space: nowrap;
        padding: 0.8rem 0.7rem;
        background-color: var(--green);
        font-size: 1.2rem;
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-weight: 600;
    }
}

    /* The section of the hero with background-picture and titles   */
.Hero-sektionen {
    position: relative;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    
    .hero {
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        display: block;
        
    }
    
    .hero-text {
        position: absolute;
        /* top: 21.6rem; */
        /* left: 48rem; */
        /* transform: translate(-50%, -50%); */
        color: var(--white);
        text-align: center;
        font-size: 2rem;
    }

    .welcome {
        font-weight: 400;
        --font-inter: "Inter", sans-serif;
        font-size: 5rem;
        white-space: nowrap;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

/* The button for booking and reading more about the hotel */
    .bookit {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
        margin-top: 2rem;
    }

    .button {
        white-space: nowrap;
        padding: 1rem 0.7rem;
        background-color: var(--green);
        font-size: 1.2rem;
        color: white;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-weight: 600;
        --font-inter: "Inter", sans-serif;
    }

    .learnmore {
        padding: 0.8rem 1.6rem;
        border-radius: 10px;
        border: var(--white);
        border:  0.1875rem solid var(--white);
        font-weight: 600;
        font-size: 1.2rem;
        color: white;
        background-color: transparent;
        cursor: pointer;
    }
}


.checkin {
    width: 100%;
    padding: 6rem;
    background-color: #009966;
}



@media (max-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
    }

    .header {
        /* background-color: #9810FA; */
        max-width: 768px;
        display: flex;
    }

    .logo {
        display: none;
    }

}


@media (max-width: 768px) {
    .hero-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        /* justify-content: center;
        align-items: center; */
    }

    .Hero-sektionen {
        display: flex;
        flex-direction: column;
    }


}