/*---------------------------------------------------------------
-------- SPECIFIC STYLING FOR ELEMENTS IN BOOKING.HTML-----------
-----------------------------------------------------------------*/


/*------------------------------ROOMS AVAILABLE------------------------------*/
.main--booking{
    background-color: var(--turquoise);
}

.rooms-section{
    display:flex; /*flexbox for placing out room boxes*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem; /*gap between each box*/

    padding-bottom: 5rem; /*padding under section of rooms*/
}

.rooms__titles{
    padding: 3rem 0 2rem 0; /*sokme padding around titles*/

    h2, h3{
        font-weight: 400; /*lighter font-weight for both titles*/
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2rem;
    }
}

.room-box{
    display: flex;

    width:100%;/*box is taking up all available width space*/

    background-color: var(--white);
    box-shadow: 0 4px 10px var(--box-shadow); /*box-shadow beneath box*/
    border-radius: 25px; /*rounded corners*/

    .room__img-wrapper{
        width:75%;
        position: relative; /*makes it possible to place score inside of picture*/

        .room__score:hover{
            transform: scale(1.05, 1.05); /*scaling when hovering over score box*/
        }

        .room__score{
            display:flex; /*flexbox for elements inside, star and score points*/
            justify-content: center;
            align-items: center;
            gap:0.2rem; /*small gap between elements*/

            position: absolute;
            top:6%; /*placing out where score is positioned*/
            left: 80%;

            padding:0.5rem 0.7rem; /*some padding inside of score box*/

            border-radius: 100px; /*rounded edges*/
            background-color: var(--white);

            transition: transform 0.3s ease; /*transition for scaling up box with score*/
        }
        
        .room__img{
            width:100%; /*taking up all of parents width*/
            height:100%;
            border-radius: 25px 0 0 25px; /*only round corners for left side*/
        }

        .room__text{ /*applies only to text in score box*/
            font-size: 1.5rem;
        }
        
    }

    .room__content-wrapper{
        display:grid; /*grid for layout*/
        grid-template-columns: 1fr 2fr 1fr; /*grid for white box with text*/
        grid-template-rows: repeat(5, 1fr);
        gap:1rem; /*gap between sections*/

        width:100%; /*takes upp all available width*/
        padding:1rem; /*elements do not line up against borders*/

        .room__icon{
            max-width:1.4rem; /*setting max width to icons*/
        }

        h3{
            grid-column: 1/3; /*placing out inside of grid*/
            grid-row: 1/2;

            align-self: flex-start; /*aligning titel and text in grid row*/

            font-size: 2rem;
            font-weight:400
        }
        .room__price{
            grid-column: 3/4;
            grid-row: 1/2;

            justify-self: flex-end; /*aligning titel and text in grid row*/
            margin-right:1rem; /*some margin to the right*/

            transition: transform 0.2s ease; /*transition for scale*/

            .room__price--dollar{
                color:var(--green);
                font-size: 2rem;
                font-weight:400;
            }
        }
        .room__info--general{
            grid-column: 1/3;
            grid-row: 1/2;

            display:flex; /*flexbox for elements inside of room__info*/
            align-self: flex-end;
            gap:1.5rem; /*some gap between elements*/
        }

        .room__text, .room__text--title{ /*same size for p elements*/
            font-size:1.2rem;
        }

        /*styling for all text-containers*/
        .room__info{
            display:flex;
            flex-direction: column;

            .room__img-title{ /*styling for icon and text next to it*/
                display:flex;
                gap:0.5rem;
                p{
                    color: var(--black); /*making sure title is black and has no background-color*/
                    background-color: transparent;
                }
            }

            .room__text-container{
                display:flex;
                margin-top: 0.5rem;
                gap:0.5rem;

                p{
                    transition: transform 0.2s ease, box-shadow 0.2s ease; /*transition for scaling up text and box-shadow*/
                }
            }
        }

        /*styling for both features and ai text*/
        .room__info--features, .room__info--ai{
            p{
                background-color: var(--grey-box);
                border-radius:5px;
                padding: 0.2rem 0.4rem;
            }
        }

        .room__info--features{
            grid-column: 1/3; /*placing out text with grid*/
            grid-row: 2/3;
        }

        .room__info--ai{
            grid-column: 1/3;
            grid-row: 3/4;
            p{
                color:var(--purple); /*purple text for ai*/
            }
        }

        .room__info--sustainability{
            grid-column: 1/3;
            grid-row: 4/5;
            p{
                font-size: 1.2rem;
            }
        }


        .room__button{
            grid-column: 1/4;
            grid-row: 5/6;

            width:100%;
            padding:0.7rem;

            border-radius: 10px;
            background-color: var(--green);
            color: var(--white);
            font-size: 1.5rem;
            font-weight: 600;

            transition: box-shadow 0.3s ease, font-size 0.3s ease; /*transition for box-shadow*/
        }

        /*---------HOVERING--------*/
        .room__button:hover{
            box-shadow: 0 4px 10px var(--box-shadow); /*box shadow appearing when hovering*/
            font-size: 1.6rem; /*increasing font-size when hovering*/
        }

        .room__price:hover{
            transform: scale(1.05, 1.05); /*subtle scale change when hovering over price*/
        }

        .room__text-container p:hover{
            transform: scale(1.05, 1.05); /*changing scale when hovering over text boxes*/
            box-shadow: 0 2px 10px var(--box-shadow); /*box-shadow when hovering over*/
        }
    }
}

.room-box:nth-child(even) {
    flex-direction: row-reverse; /*even boxes change direction of img*/

    .room__img-wrapper{
        .room__img{
            border-radius: 0 25px 25px 0; /*only round corners for right side*/
        }
    }
}